### Introduction to Machine Learning with Spark

This notebook is intended to be run in a Cloudera Data Science Workbench session

Package imports:

In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.ml as ml
import pandas as pd
import os, IPython

Spark UI link:

In [2]:
sparkui_url = "https://spark-%s.%s" % (os.environ["CDSW_ENGINE_ID"], os.environ["CDSW_DOMAIN"])
IPython.display.HTML("<a href=http://%s>Spark UI</a>" % sparkui_url)

Create Spark session:

In [3]:
spark = (
    SparkSession.builder.master("local[2]")
    .appName("spark-ml")
    .getOrCreate()
)

Read in and preview example data:

In [4]:
spark.sparkContext.setJobDescription("Read in data")

rescue_df = (
    spark.read.csv("/training/animal_rescue.csv",
                 header = True, inferSchema = True)
    .withColumnRenamed("AnimalGroupParent", "AnimalGroup")
    .withColumnRenamed("IncidentNotionalCost(Â£)", "TotalCost")
    .withColumnRenamed("HourlyNotionalCost(Â£)", "HourlyCost")
    .withColumnRenamed("OriginofCall", "OriginOfCall")
)

spark.sparkContext.setJobDescription("Preview data")

rescue_df.limit(5).toPandas()

,IncidentNumber,DateTimeOfCall,CalYear,FinYear,TypeOfIncident,PumpCount,PumpHoursTotal,HourlyCost,TotalCost,FinalDescription,...,WardCode,Ward,BoroughCode,Borough,StnGroundName,PostcodeDistrict,Easting_m,Northing_m,Easting_rounded,Northing_rounded
0,139091,01/01/2009 03:01,2009,2008/09,Special Service,1.0,2.0,255,510.0,"DOG WITH JAW TRAPPED IN MAGAZINE RACK,B15",...,E05011467,Crystal Palace & Upper Norwood,E09000008,Croydon,Norbury,SE19,NaN,NaN,532350,170050
1,275091,01/01/2009 08:51,2009,2008/09,Special Service,1.0,1.0,255,255.0,"ASSIST RSPCA WITH FOX TRAPPED,B15",...,E05000169,Woodside,E09000008,Croydon,Woodside,SE25,534785.0,167546.0,534750,167550
2,2075091,04/01/2009 10:07,2009,2008/09,Special Service,1.0,1.0,255,255.0,"DOG CAUGHT IN DRAIN,B15",...,E05000558,Carshalton Central,E09000029,Sutton,Wallington,SM5,528041.0,164923.0,528050,164950
3,2872091,05/01/2009 12:27,2009,2008/09,Special Service,1.0,1.0,255,255.0,"HORSE TRAPPED IN LAKE,J17",...,E05000330,Harefield,E09000017,Hillingdon,Ruislip,UB9,504689.0,190685.0,504650,190650
4,3553091,06/01/2009 15:23,2009,2008/09,Special Service,1.0,1.0,255,255.0,"RABBIT TRAPPED UNDER SOFA,B15",...,E05000310,Gooshays,E09000016,Havering,Harold Hill,RM3,NaN,NaN,554650,192350

End Spark session:

In [6]:
spark.stop()